<a href="https://colab.research.google.com/github/hinda-mt/hinda-mt/blob/main/Lets_Code_with_Python_Part_I_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align='center'>Python, Data Types, Expressions and Variables</h1>

## I. Say "Hello" to the world in Python

When learning a new programming language, it is customary to start with an "hello world" example.

In [ ]:
print("Hello world")

**What version of Python are we using?**

There are two popular versions of the Python programming language in use today: Python 2 and Python 3. The Python community has decided to move on from Python 2 to Python 3, and many popular libraries have announced that they will no longer support Python 2.

In [ ]:
import sys

print(sys.version)

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>sys</code> is a built-in module that contains many system-specific parameters and functions, including the Python version in use. Before using it, we must explictly <code>import</code> it.
</div>
<hr/>

**Writing comments in Python**

In addition to writing code, note that it's always a good idea to add comments to your code. It will help others understand what you were trying to accomplish (the reason why you wrote a given snippet of code). Not only does this help other people understand your code, it can also serve as a reminder to you when you come back to it weeks or months later.

To write comments in Python, use the number symbol # before writing your comment. When you run your code, Python will ignore everything past the # on a given line.

In [ ]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

**Errors in Python**

Everyone makes mistakes. For many types of mistakes, Python will tell you that you have made a mistake by giving you an error message. It is important to read error messages carefully to really understand where you made a mistake and how you may go about correcting it.

In [ ]:
# Print string as error message

frint("Hello, Python!")

The error message tells you:

1. where the error occurred (more useful in large notebook cells or scripts), and
2. what kind of error it was (NameError)

You'll notice that if we make a different type of mistake, by forgetting to close the string, we'll obtain a different error (i.e., a SyntaxError):

In [ ]:
# Try to see build in error message

print("Hello, Python!)

**Does Python know about your error before it runs your code?**

Python is what is called an interpreted language. Compiled languages examine your entire program at compile time, and are able to warn you about a whole class of errors prior to execution. In contrast, Python interprets your script line by line as it executes it. Python will stop executing the entire program when it encounters an error (unless the error is expected and handled by the programmer)

In [ ]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

**Exercise**

Generations of programmers have started their coding careers by simply printing "Hello, world!". You will be following in their footsteps.

In the code cell below, use the `print()` function to print out the phrase: `Hello, world!` Enhance your code by adding a comment to it with `the phrase Print the traditional hello world` all in one line of code.

## II. Types of objects in Python
Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: strings, integers and floats.

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesObjects.png" width="600">
</a>

You can get Python to tell you the type of an expression by using the built-in `type()` function. You'll notice that Python refers to integers as `int`, floats as `float`, and character strings as `str`.

In [ ]:
type(12)

In [ ]:
type(2.14)

In [ ]:
type("Hello, Python 101!")

**Converting from one object type to a different object type**

You can change the type of the object in Python; this is called typecasting. For example, you can convert an integer into a float (e.g. 2 to 2.0).

In [ ]:
# Convert 2 to a float

float(2)

When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information.

In [ ]:
int(1.1)

Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using `int()`:

In [ ]:
# Convert a string into an integer

int('1')

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings.

In [ ]:
str(1)

**Boolean data type**

Boolean is another important type in Python. An object of type Boolean can take on one of two values: `True` or `False`:

In [ ]:
# Type of True

type(True)

We can cast boolean objects to other data types.

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert 1 to boolean

bool(1)

In [ ]:
# Convert 0 to boolean

bool(0)

**Exercise**

What is the data type of `6//2`?

## III. Expression and Variables

**Expressions**

Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

In [ ]:
# Subtraction operation expression

50 - 60

In [ ]:
# Multiplication operation expression

5 * 5

In [ ]:
# Division operation expression

25 / 5

In [ ]:
# Integer division operation expression

25 // 5

Python follows well accepted mathematical conventions when evaluating mathematical expressions.

In [ ]:
# Mathematical expression

30 + 2 * 60

In [ ]:
# Mathematical expression 2

(30 + 2) * 60

**Variables**

Just like with most programming languages, we can store values in variables, so we can use them later on. For example:

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [ ]:
# Print out the value in variable

x

We can also perform operations on x and save the result to a new variable:

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

If we save a value to an existing variable, the new value will overwrite the previous value:

In [ ]:
# Overwrite variable with new value

x = x / 60
x

It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

**Exercise**

What is the value of `x` where `x = 3 + 2 * 2`

In [ ]:
# write your code below

What is the value of `y` where `y = (3 + 2) * 2`

In [ ]:
# write your code below

What is the value of `z` where `z = x + y`

In [ ]:
# write your code below

## IV. Strings

A string is an ordered sequence of characters contained within 2 quotation marks:

In [ ]:
# Use quotation marks for defining string

"Michael Jackson"

We can also use single quotation marks:

In [ ]:
# Use single quotation marks for defining string

'Michael Jackson'

We can bind or assign a string to another variable:

In [ ]:
# Assign string to variable

name = "Michael Jackson"
name

**Indexing**

Because a string as an ordered sequence, each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

In [ ]:
# Print the first element in the string

print(name[0])

In [ ]:
# Print the element on index 6 in the string

print(name[6])

**Negative Indexing**

We can also use negative indexing with strings:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

In [ ]:
# Print the last element in the string

print(name[-1])

In [ ]:
# Print the first element in the string

print(name[-15])

**Slicing**

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsSlice.png" width="600" align="center" />

In [ ]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

In [ ]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

**Stride**

We can also input a stride value as follows, with the '2' indicating that we are selecting every second variable:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsStride.png" width="600" align="center" />

In [ ]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

**Concatenate Strings**

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [ ]:
# Concatenate two strings

statement = name + "is the best"
statement

To replicate values of a string we simply multiply the string by the number of times we would like to replicate it.

In [ ]:
# Print the string for 3 times

3 * "Michael Jackson"

**Escape Sequences**

Back slashes represent the beginning of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line.

In [ ]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

In [ ]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

In [ ]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

**String Operations**

There are many string operation methods in Python that can be used to manipulate the data.

In [ ]:
# Convert all the characters in string to upper case

a = "Welcome to gomycode"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

In [ ]:
# Replace the old substring with the new target substring is the segment has been found in the string

b = a.replace('gomycode', 'GMC')
b

In [ ]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

a.find('gomycode')

In [ ]:
# If cannot find the substring in the string

name.find('Data')

**Exercise**

What is the value of the variable c after the following code is executed?

In [ ]:
a = '1'
b = '2'

c = a + b

Consider the variable d = "ABCDEFG" use slicing to print out the first three elements:

In [ ]:
# write your code below

Use a stride value of 2 to print out every second character of the string e:

In [ ]:
# write your code below

e = 'clocrkr1e1c1t'

Convert the variable f to uppercase:

In [ ]:
# Write your code below

f = "You are wrong"

Consider the variable g, and find the first index of the sub-string snow:

In [ ]:
# Write your code below

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In the variable g, replace the sub-string `Mary` with `Bob`:

In [ ]:
# Write your code below

|***HICHEM Dridi*** | <img src="https://image.pitchbook.com/wvMiGxI5AbuS1BEUzlZ6MLk6clW1621327461408_200x200" width = 130/>|
| :---              |          ---: |